<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Auction List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>AuctionItemId</th>
          <th>CurrentBid</th>
          <th>BidderName</th>
		  <th>ReservePrice</th>
		  <th>ItemId</th>
		  <th>Description</th>
		  <th style="width:200px">Navigation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auction of auctions | async">
          <td>{{auction.auctionItemId}}</td>
          <td>{{auction.currentBid | number:'1.2-2' }}</td>
          <td>{{auction.bidderName}}</td>
          <td>{{auction.reservePrice | number:'1.2-2' }}</td>
          <td>{{auction.item.itemId}}</td>
          <td>{{auction.item.description}}</td>
          <td>
              <button (click)="auctionDetails(auction.auctionItemId)" class="btn btn-info">Details</button>
              <button (click)="bidOnAuction(auction.auctionItemId)" class="btn btn-info" style="margin-left: 2px">Bid</button>
              <!-- <button (click)="deleteAuction(auction.auctionItemId)" class="btn btn-info" style="margin-left: 2px">Delete</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>